<h1>Chào cậu</h1>
<div>
    @{
        // Viết code trên cshtml, ở đây định nghĩa là code C#
        var n = 10;
        var a = ViewBag.a;
        for(var i = 1; i <=n; i++)
        { // Dù có 1 đoạn lệnh phải dùng đóng mở ngoặc
            if(i % 2) // !(i%2)
            {
                <p>@i</p>
            }     
        }
    }
</div>