@{
    var user = ViewBag.User1 as Bai3.Models.User;
    <h1>Thông tin của người dùng</h1>
    <h2>Id: @user.Id</h2>
    <h2>Name: @user.Name</h2>
    <h2>Email: @user.Email</h2>
    <h2>Address: @user.Address</h2>
}