@{
    <p>Số hoàn hảo trong phạm vi @ViewBag.a là: </p>
    for(int i = 2; i < ViewBag.a; i++)
    {
        int sum = 0;
        for(int j = 1; j < i; j++)
        {
            if(i % j == 0)
            {
                sum += j;
            }
        }
        if(sum == i)
        {
            <p>@i</p>
        }
    }
}