<h1>Nhập dữ liệu tìm UCLN</h1>

@{
    Html.BeginForm("TimUCLN1", "GiaiBT", FormMethod.Post);
    {
        @Html.Label("Nhập vào số thứ nhất: ") <br />
        @Html.TextBox("a") <br />
        @Html.Label("Nhập vào số thứ hai: ") <br />
        @Html.TextBox("b") <br />
        <input type="submit" value="Gửi KQ" />
    }
}    

    
