<h1>Tổng lương của 1 phòng ban</h1>

@{
    Html.BeginForm("Tong2_1", "NhanVien", FormMethod.Post);
    {
        @Html.Label("Nhập tên phòng ban cần tính lương")
        <br />
        @Html.TextBox("s")
        <br />
        <input type="submit" value="Tổng lương" />
    }
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.ErrorMessage
    </div>
}