<div>
    @{
        Html.BeginForm("Yeucau1", "Bai2", FormMethod.Post);
        {
            @Html.Label("Nhập số nguyên n: ")
            <br />
            @Html.TextBox("a")
            <input type="submit" value="Gửi KQ" />
        }
    }
        
</div>

