<div>
    @{
        Html.BeginForm("Yeucau2", "Bai2", FormMethod.Post);
        {
            @Html.Label("Nhập số phần tử của mảng: ") <br />
            @Html.TextBox("a")
            <input type="submit" value="Gửi KQ" />
        }
    }
</div>